@font-face {
  font-family: "Gandom";
  src: url("../fonts/gandom-font/Gandom.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
/* Global Colors */
/* Smooth scroll */
:root {
  scroll-behavior: smooth;
}

* {
  font-family: "Gandom";
  direction: rtl;
}

.main-text-color {
  color: #388da8;
}

/* Global Footer */
.footer {
  background-color: #ffffff;
  font-size: 14px;
  padding-bottom: 50px;
  position: relative;
}
.footer .social-links a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid color-mix(in srgb, #3d4348, transparent 50%);
  font-size: 16px;
  color: color-mix(in srgb, #3d4348, transparent 30%);
  margin-right: 10px;
  transition: 0.3s;
}
.footer .social-links a:hover {
  color: #388da8;
  border-color: #388da8;
}
.footer h4 {
  font-size: 16px;
  font-weight: bold;
  position: relative;
  padding-bottom: 12px;
}

/* Scroll Top Button */
.scroll-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: -15px;
  z-index: 99999;
  background-color: #388da8;
  width: 44px;
  height: 44px;
  border-radius: 50px;
  transition: all 0.4s;
}
.scroll-top i {
  font-size: 24px;
  color: #ffffff;
  line-height: 0;
}
.scroll-top:hover {
  background-color: color-mix(in srgb, #388da8, transparent 20%);
  color: #ffffff;
}
.scroll-top.active {
  visibility: visible;
  opacity: 1;
  bottom: 15px;
}

/* Disable aos animation delay on mobile devices */
@media screen and (max-width: 768px) {
  [data-aos-delay] {
    transition-delay: 0 !important;
  }
}
/*--------------------------------------------------------------
# Global Sections
--------------------------------------------------------------*/
section,
.section {
  color: #3d4348;
  background-color: #ffffff;
  padding: 60px 0;
  scroll-margin-top: 100px;
  overflow: clip;
}

@media (max-width: 1199px) {
  section,
  .section {
    scroll-margin-top: 66px;
  }
}
/*--------------------------------------------------------------
# Global Section Titles
--------------------------------------------------------------*/
.section-title {
  text-align: center;
  padding-bottom: 60px;
  position: relative;
}
.section-title h2 {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
}
.section-title h2::after {
  content: "";
  position: absolute;
  display: block;
  width: 50px;
  height: 3px;
  background: #388da8;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}
.section-title p {
  margin-bottom: 0;
}

/*--------------------------------------------------------------
# About Section
--------------------------------------------------------------*/
.about .content h3 {
  font-size: 2rem;
  font-weight: 700;
}
.about .content ul i {
  font-size: 1.25rem;
  margin-right: 4px;
  color: #388da8;
}
.about .about-images img {
  border-radius: 10px;
}

/*--------------------------------------------------------------
# Features Details Section
--------------------------------------------------------------*/
.features-details .features-item .content {
  background-color: color-mix(in srgb, #388da8, transparent 95%);
  padding: 30px;
  border-radius: 10px;
}
.features-details .features-item h3 {
  font-weight: 700;
  font-size: 26px;
  margin-bottom: 15px;
}
.features-details .features-item .more-btn {
  background-color: #388da8;
  color: #ffffff;
  padding: 6px 30px;
  border-radius: 6px;
}
.features-details .features-item .more-btn:hover {
  background-color: color-mix(in srgb, #388da8, transparent 20%);
}
.features-details .features-item ul {
  list-style: none;
  padding: 0;
}
.features-details .features-item ul li {
  padding-bottom: 10px;
  display: flex;
  align-items: center;
}
.features-details .features-item ul li:last-child {
  padding-bottom: 0;
}
.features-details .features-item ul li i {
  font-size: 20px;
  margin-right: 10px;
  color: #388da8;
}
.features-details .features-item img {
  border-radius: 15px;
}

/*--------------------------------------------------------------
# More Features Section
--------------------------------------------------------------*/
.more-features .features-image {
  position: relative;
  min-height: 400px;
}
.more-features .features-image img {
  position: absolute;
  inset: 0;
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: 1;
}
.more-features h3 {
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 20px;
}
.more-features .icon-box {
  margin-top: 30px;
}
.more-features .icon-box i {
  color: #388da8;
  margin-right: 15px;
  font-size: 24px;
  line-height: 1.2;
}
.more-features .icon-box h4 {
  font-weight: 600;
  margin-bottom: 10px;
  font-size: 18px;
}
.more-features .icon-box p {
  line-height: 24px;
  font-size: 14px;
  margin-bottom: 0;
}

/*--------------------------------------------------------------
# Contact Section
--------------------------------------------------------------*/
.contact button {
  background-color: #388da8;
}
.contact .info-item {
  background-color: #ffffff;
  padding: 20px 0 30px 0;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
}
.contact .info-item i {
  font-size: 20px;
  color: #388da8;
  width: 56px;
  height: 56px;
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  transition: all 0.3s ease-in-out;
  border-radius: 50%;
  border: 2px dotted color-mix(in srgb, #388da8, transparent 40%);
}
.contact .info-item h3 {
  font-size: 20px;
  font-size: 18px;
  font-weight: 700;
  margin: 10px 0;
}
.contact .info-item p {
  padding: 0;
  margin-bottom: 0;
  font-size: 14px;
}

/*--------------------------------------------------------------
  # slider
  --------------------------------------------------------------*/
.home .carousel-item {
  min-height: 100vh;
  background-position: center;
  background-size: cover;
  position: relative;
  z-index: 1;
}
.home .carousel-item:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: -1;
}
.home .carousel-item .container {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.home .carousel-item h2 {
  font-size: 80px;
  color: #ffffff;
  margin: 0 0 10px;
  opacity: 0;
}
.home .carousel-item p {
  font-size: 30px;
  margin: 0;
  color: #eeeeee;
  opacity: 0;
}
.home .carousel-item.active h2 {
  animation: fadeInLeft 0.5s ease forwards;
}
.home .carousel-item.active p {
  animation: fadeInRight 0.5s ease forwards;
}
.home .carousel-controls {
  position: absolute;
  left: 50%;
  bottom: 40px;
  z-index: 10;
  transform: translateX(-50%);
}
.home .carousel-indicators {
  position: relative;
  margin: 0;
}
.home .carousel-indicators li {
  height: 70px;
  width: 70px;
  margin: 0 5px;
  border-radius: 50%;
  background-position: center;
  background-size: cover;
  border: 3px solid transparent;
  transition: all 0.3s ease;
}
.home .carousel-indicators li.active {
  border-color: #ffffff;
  transform: scale(1.2);
}
.home .carousel-control-next,
.home .carousel-control-prev {
  height: 60px;
  width: 60px;
  opacity: 1;
  z-index: 3;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 50%;
  transition: all 0.3s ease;
}
.home .carousel-control-next:hover,
.home .carousel-control-prev:hover {
  box-shadow: 0 0 10px #ffffff;
}
.home .carousel-control-next img,
.home .carousel-control-prev img {
  width: 30px;
}
.home .carousel-control-next.carousel-control-next,
.home .carousel-control-prev.carousel-control-next {
  right: -90px;
}
.home .carousel-control-next.carousel-control-prev,
.home .carousel-control-prev.carousel-control-prev {
  left: -90px;
}

/* responsive */
@media (max-width: 767px) {
  .home .carousel-control-next,
  .home .carousel-control-prev {
    display: none;
  }
  .home .carousel-indicators li {
    height: 60px;
    width: 60px;
  }
  .home .carousel-item h2 {
    font-size: 45px;
  }
  .home .carousel-item p {
    font-size: 22px;
  }
}
@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translateX(-30px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}
@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translateX(30px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}
/*--------------------------------------------------------------
# Header section
--------------------------------------------------------------*/
#header {
  z-index: 1000;
}
#header .header {
  background-color: rgba(31, 30, 30, 0.24);
  transition: 0.3s ease background-color;
}
#header .nav-list ul {
  position: absolute;
  background-color: rgb(31, 30, 30);
  width: 100vw;
  height: 100vh;
  left: 100%;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
  overflow-x: hidden;
  transition: 0.5s ease left;
}
#header .nav-list ul.active {
  left: 0%;
}
#header .nav-list ul a {
  color: white;
}
#header .nav-list ul a:hover {
  color: #388da8;
}
#header .nav-list ul li:hover a {
  color: #388da8;
}
#header .hamburger {
  height: 60px;
  width: 60px;
  display: inline-block;
  border: 3px solid white;
  border-radius: 50%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
  cursor: pointer;
  transform: scale(0.8);
  margin-right: 20px;
}
#header .hamburger:after {
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  border-radius: 50%;
  border: 3px solid white;
  animation: hamburger_puls 1s ease infinite;
}
#header .hamburger .bar {
  height: 2px;
  width: 30px;
  position: relative;
  background-color: white;
  z-index: -1;
}
#header .hamburger .bar::after, #header .hamburger .bar::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  background-color: white;
  transition: 0.3s ease;
  transition-property: top, bottom;
}
#header .hamburger .bar::after {
  top: 8px;
}
#header .hamburger .bar::before {
  bottom: 8px;
}
#header .hamburger.active .bar::before {
  bottom: 0;
}
#header .hamburger.active .bar::after {
  top: 0;
}

/* Keyframes */
@keyframes hamburger_puls {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(1.4);
  }
}
@keyframes text_reveal_box {
  50% {
    width: 100%;
    left: 0;
  }
  100% {
    width: 0;
    left: 100%;
  }
}
@keyframes text_reveal {
  100% {
    color: white;
  }
}
@keyframes text_reveal_name {
  100% {
    color: #388da8;
    font-weight: 500;
  }
}
/* Media Query For Tablet */
@media only screen and (min-width: 768px) {
  #hero h1 {
    font-size: 7rem;
  }
}
/* Media Query For Desktop */
@media only screen and (min-width: 1200px) {
  /* header */
  #header .hamburger {
    display: none;
  }
  #header .nav-list ul {
    position: initial;
    display: block;
    height: auto;
    width: -moz-fit-content;
    width: fit-content;
    background-color: transparent;
  }
  #header .nav-list ul li {
    display: inline-block;
  }
  #header .nav-list ul a:after {
    display: none;
  }
}
/* Services Section */
.service-item {
  border-radius: 10px;
  background-image: url(../images/2.jpg);
  background-blend-mode: multiply;
  background-size: cover;
}

.rounded-5 {
  border-radius: 5%;
}/*# sourceMappingURL=style.css.map */